giris.elmasistatistik.com.tr {
  encode zstd gzip

  @elmasAnalitik path /elmas-analitik /elmas-analitik/*
  handle @elmasAnalitik {
    reverse_proxy elmas-analitik-collector:8787
  }

  reverse_proxy app:3000
}
