name: Deploy to VPS

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: 188.245.176.56
          username: mete
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            set -e
            git config --global --add safe.directory /opt/analytics
            cd /opt/analytics
            git pull origin main
            bash /opt/analytics/deploy.sh
